*{
    margin: 0;
    padding: 0;
}
html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

nav {
    background-color: orangered;
    position: sticky;
    top: 0;
    scroll-behavior: smooth;
}

a {
    line-height: 50px;
    color: white;
    text-decoration: none;
    padding: 0 7px;
}

section {
    height: calc(100vh - 50px);
    scroll-margin-top: 50px;
}

#home {
    background-color: orange;
}

#gallery {
    background-color: skyblue;
}

#about {
    background-color: yellow;
}

#contact {
    background-color: lime;
}

.payiz {
    margin: auto;
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(payiz.jpg);
    position: relative;
    height: 400x;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}
.payiz::before{
    content: 'PAYIZ';
    text-align: center;
    color: white;
    line-height: 150px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transform: .4s;
    scale: 0;
}
.payiz:hover::before{
    scale: 1;
    opacity: 0.6;
}
.qis {
    margin: auto;
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(qis.jpg);
    position: relative;
    height: 400x;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}
.qis::before{
    content: 'QIŞ';
    text-align: center;
    color: white;
    line-height: 150px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transform: .4s;
    scale: 0;
}
.qis:hover::before{
    scale: 1;
    opacity: 0.6;
}
.yay {
    margin: auto;
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(yay.jpg);
    position: relative;
    height: 400x;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}
.yay::before{
    content: 'YAY';
    text-align: center;
    color: white;
    line-height: 150px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transform: .4s;
    scale: 0;
}
.yay:hover::before{
    scale: 1;
    opacity: 0.6;
}

.bahar {
    margin: auto;
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
    background-image: url(bahar.jpg);
    position: relative;
    height: 400x;
    width: 400px;
    border-radius: 10px;
    cursor: pointer;
}

.bahar::before{
    content: 'BAHAR';
    text-align: center;
    color: white;
    line-height: 150px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 10px;
    transform: .4s;
    scale: 0;
}
.bahar:hover::before{
    scale: 1;
    opacity: 0.6;
}
h1 {
    text-align: center;

}
::selection{
    background-color: black;
    color: gold;
}

